<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Movie form</title>
   	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body style="background-color:lightblue;">
	<div>
		<h1 style="padding-left:90px;">New Movie:</h1>

			<div class="col-md-4">
			<p th:text="${errorMsg}" style="color:red;"></p>
				<form action="#" th:action="@{/save}"  th:object= ${movie} method="post" id="movieForm">
					
					<div class="form-group">
					<label>Title :</label>
						<input th:field="${movie.title}" class="form-control"/></div>
								<span th:errors="${movie.title}" style="color:red;"></span>
					
					<div class="form-group">			
					<label>Year :</label> 
						<input value="" th:field="${movie.year}" class="form-control"/>
								<span th:errors="${movie.year}" style="color:red;"></span></div>
					
					<div class="form-group">	
					<label>Points :</label> 
						<input value="" th:field="${movie.points}" class="form-control"/>
								<span th:errors="${movie.points}" style="color:red;"></span></div>
						
					<label for="genrelist">Genre</label>
						<select id="genrelist" th:field="*{genre}" class="form-control">
       						<option th:each="genre: ${genre}" th:value="${genre.genreId}" th:text="${genre.nameOfGenre}"></option>
    					</select>
						
					<label for="directorlist">Director</label>
						<select id="directorlist" th:field="*{director}" class="form-control">
       						<option th:each="director: ${director}" th:value="${director.dirId}" th:text="${director.dirName}"></option>
    					</select>
    				<br/>
						<div><input type="submit" class="btn btn-primary" value="Submit" /> 
						<input type="button" onClick="clearFields()" class="btn btn-primary" value="Reset"/> </div>
				</form>
    		</div>
    </div>
    
    <script>
    function clearFields() {
    	document.getElementById("title").value="";
    	document.getElementById("year").value="";
    	document.getElementById("points").value="";
    }
    </script>

</body>
</html>