<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Movie List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
</head>
<body style="background-color:lightblue;">
	
	<div class="container" sec:authorize="isAuthenticated()">
	
	<div class="col-md-4" style="padding:20px 0" >
		<h1>Movies Movies..</h1>
	</div>
	
	<div class="col-md-4" style="padding:30px 0" >
		<h3 th:inline="text">Signed in (as [[${#httpServletRequest.remoteUser}]])</h3>
	</div>	
		
	<div class="col-md-4" style="padding:30px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	</div>
	
	<div class="container" sec:authorize="isAnonymous()">
	
	<div class="col-md-4" style="padding:20px 0" >
		<h1>Movies Movies..</h1>
	</div>
	
	<div class="col-md-4" style="padding:30px 0">
		<h3 th:inline="text">Would you like to sign in? -></h3>
	</div>
	
	<div class="col-md-4" style="padding:30px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign in" class="btn btn-primary"/>
		</form>
	</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th style="text-align: center">Title</th>
			<th>Genre</th>
			<th>Director</th>
			<th>Year</th>
			<th style="text-align: center">Rating 0-5</th>
			<th sec:authorize="hasAuthority('ADMIN')">Edit</th>
			<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
			<th hidden="hidden" sec:authorize="hasRole('ADMIN')" />

		</tr>
		<tr th:each="movie : ${movies}">
			<td th:text="${movie.title}" style="text-align: center"></td>
			<td th:text="${movie.genre.nameOfGenre}"></td>
			<td th:text="${movie.director.dirName}"></td>
			<td th:text="${movie.year}"></td>
			<td th:text="${movie.points}" style="text-align: center"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-warning" th:href="@{/edit/{id}(id=${movie.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-danger" th:href="@{/deletemovie/{id}(id=${movie.id})}">Delete</a></td>
		</tr>
	</table>
	<div style="text-align: center" sec:authorize="isAuthenticated()" ><a class="btn btn-success" href="/newmovie" >Add movie</a></div>
	<div style="text-align: center" sec:authorize="isAnonymous()" ><a class="btn btn-success disabled"  href="/newmovie" >Add movie</a></div>
</body>
</html>